/** MENU STYLES **/
body {
	background: #0E1464;
}

.panel .page, .panel .pages, .panel, .view-panel {
    background: none;
}

.panel .list-block ul {
    background: none;
    border:none;
}

.panel .list-block .item-link {
    color:#fff;
}

.panel .list-block .item-link:active {
    background: rgba(255,255,255,0.2);
}

.panel .list-block .item-inner {
    border-bottom-color:rgba(255,255,255,0.2);
}

.panel .content-block, .panel .content-block-title {
    color:#fff;
}

.panel .list-block .item-link .item-inner {
    background-image: url("data:image/svg+xml; charset=utf-8, <svg viewBox='0 0 60 120' xmlns='http://www.w3.org/2000/svg'> <path d='m60 61.5-38.25 38.25-9.75-9.75 29.25-28.5-29.25-28.5 9.75-9.75z' fill='%23fff' /></svg>");
}


/** TABS **/
.tab {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}


/** ICONS **/
i.icon.icon-settings {
	height: 29px;
	width: 29px;
	background-image: url(../img/settings.png);
}

i.icon.icon-menu {
	height: 29px;
	width: 29px;
	background-image: url(../img/menu.png);
}

i.icon.icon-list {
	height: 29px;
	width: 29px;
	background-image: url(../img/list.png);
}

i.icon.icon-heart {
	height: 29px;
	width: 29px;
	background-image: url(../img/heart.png);
}

i.icon.icon-delete {
	height: 29px;
	width: 29px;
	background-image: url(../img/delete.png);
}

i.icon.icon-watch {
	height: 29px;
	width: 29px;
	background-image: url(../img/watch.png);
}

i.icon.icon-unwatch {
	height: 29px;
	width: 29px;
	background-image: url(../img/unwatch.png);
}

i.icon.icon-watch-b {
	height: 29px;
	width: 29px;
	background-image: url(../img/watch-b.png);
}

i.icon.icon-unwatch-b {
	height: 29px;
	width: 29px;
	background-image: url(../img/unwatch-b.png);
}



/** Statusbar **/
html.with-statusbar-overlay .statusbar-overlay {
	background: #0E1464;
}

/** DIMEN **/
.space-3 {
	padding-left: 3px;
	padding-right: 3px;
}

.space-5 {
	padding-left: 5px;
	padding-right: 5px;
}

.space-10 {
	padding-left: 10px;
	padding-right: 10px;
}

.space-25 {
	padding-left: 25px;
	padding-right: 25px;
}


/** PRELOADER **/
.infinite-scroll-preloader {
  margin-top:-20px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}     


/** LISTS  **/ 
.list-block .item-text,
.list-block .item-title,
.list-block .item-subtitle {
	-webkit-line-clamp: 99;
	max-height: none;
	height: auto;
}

.list-block .item-input {
	width: auto;
}


.login-screen-content .content-block {
	margin: 25px 5px;
}

